# Param√©trage de l'environnement de travail et import des packages

In [22]:
%cd "C:/Users/user/Desktop/data_science_documents/data_science_projets_perso/projet_housing_prediction/housing-prediction"

C:\Users\user\Desktop\data_science_documents\data_science_projets_perso\projet_housing_prediction\housing-prediction

In [23]:
from pathlib import Path

%load_ext autoreload
%autoreload 2

import sys
from pathlib import Path

ROOT = Path().resolve()
sys.path.append(str(ROOT / "03_src"))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
import pandas as pd
import numpy as np
import duckdb
from econometrics.cleaning_post_econometrics import data_post_econometrie

In [25]:
chemin_repo = Path(r"C:\Users\user\Desktop\data_science_documents\data_science_projets_perso\projet_housing_prediction\housing-prediction")

# Base de donn√©es avant nettoyage

**Import de la base de donn√©es**

In [ ]:
data_housing = pd.read_csv(f"{chemin_repo}/01_data/02_processed/02_eda/housing_data_eda_processed.csv",
                           dtype={'id_annonce':"object"})

In [31]:
data_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26648 entries, 0 to 26647
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_annonce                      26648 non-null  object
 1   code_insee                      26648 non-null  object
 2   approximate_latitude            26648 non-null  float64
 3   approximate_longitude           26648 non-null  float64
 4   size                            26479 non-null  float64
 5   nb_rooms                        26505 non-null  float64
 6   nb_photos                       26648 non-null  float64
 7   population                      26446 non-null  float64
 8   nb_menages_fiscaux              26317 non-null  float64
 9   revenu_median                   26317 non-null  float64
 10  nb_actes_delinquants            26422 non-null  float64
 11  nb_lits_tourisme                26422 non-null  float64
 12  densite_services_rayon          26648 non-null  float64
 13  type_rural_urbain               26422 non-null  object
 14  position_commune_unite_urbaine  26422 non-null  object
 15  property_type                   26648 non-null  object
 16  type_degre_densite              26422 non-null  object
 17  type_unite_urbaine              26422 non-null  object
 18  taille_pole_et_couronne         26422 non-null  object
 19  taille_agglomeration            26422 non-null  object
 20  target                          26648 non-null  int64
dtypes: float64(11), int64(1), object(9)
memory usage: 4.3+ MB

In [32]:
data_housing.head()

,id_annonce,code_insee,approximate_latitude,approximate_longitude,size,nb_rooms,nb_photos,population,nb_menages_fiscaux,revenu_median,...,nb_lits_tourisme,densite_services_rayon,type_rural_urbain,position_commune_unite_urbaine,property_type,type_degre_densite,type_unite_urbaine,taille_pole_et_couronne,taille_agglomeration,target
0,11541,01263,46.083952,4.762737,117.0,4.0,8.0,3792.0,1651.0,25970.0,...,0.0,12.0,Urbain,Banlieue,maison,Ceintures urbaines,Agglom√©ration inter-d√©partementale,Hors Attraction Villes,20k - 50k hab,0
1,09207,06004,43.587061,7.115609,185.0,3.0,6.0,75130.0,40649.0,24410.0,...,2958.0,223.0,Urbain,Banlieue,appartement,Grands centres urbains,Agglom√©ration intra-d√©partementale,Aire 200k - 700k,200k - 2M hab,0
2,15840,76351,49.500023,0.137997,64.0,3.0,6.0,166058.0,77021.0,20180.0,...,1719.0,189.0,Urbain,Centre,appartement,Grands centres urbains,Agglom√©ration intra-d√©partementale,Aire 200k - 700k,200k - 2M hab,0
3,03543,34147,43.470415,3.217742,107.0,5.0,10.0,3478.0,1422.0,21650.0,...,0.0,18.0,Rural,Centre,maison,Bourgs ruraux,Agglom√©ration intra-d√©partementale,Aire 50k - 200k,2k - 5k hab,0
4,34900,24055,45.318143,0.600697,266.0,9.0,8.0,780.0,304.0,20560.0,...,0.0,3.0,Rural,Hors unit√© urbaine,maison,Rural √† habitat dispers√©,Commune hors unit√© urbaine du d√©partement,Hors Attraction Villes,Rural / Hors Agglo,0

**Statistiques descriptives globales**

In [33]:
data_housing.describe()

,approximate_latitude,approximate_longitude,size,nb_rooms,nb_photos,population,nb_menages_fiscaux,revenu_median,nb_actes_delinquants,nb_lits_tourisme,densite_services_rayon,target
count,26648.000000,26648.000000,26479.000000,26505.000000,26648.000000,26446.000000,26317.000000,26317.000000,26422.000000,26422.000000,26648.000000,26648.00000
mean,46.560064,2.653694,124.804439,4.380117,8.470129,45361.397035,20416.650264,24194.397158,3640.282643,612.029937,152.181852,0.34618
std,2.358976,2.583976,71.485633,2.212467,4.505669,81953.737109,36761.758055,5199.124632,7281.805559,1453.082904,256.366925,0.47576
min,41.374436,-4.718490,10.000000,1.000000,1.000000,14.000000,41.000000,13460.000000,0.000000,0.000000,0.000000,0.00000
25%,43.896935,1.198781,72.000000,3.000000,5.000000,2613.000000,1200.000000,20970.000000,62.000000,0.000000,12.000000,0.00000
50%,46.985218,2.385479,110.000000,4.000000,8.000000,12096.000000,5562.000000,22870.000000,654.000000,0.000000,47.000000,0.00000
75%,48.844464,4.683312,185.000000,5.000000,10.000000,49104.000000,22023.000000,25810.000000,3482.000000,557.000000,164.000000,1.00000
max,51.046009,9.503198,1600.000000,27.000000,50.000000,504078.000000,222023.000000,55340.000000,43378.000000,16734.000000,1524.000000,1.00000

# Base de donn√©es apr√®s nettoyage

**Nettoyage des donn√©es**

In [34]:
data_housing = data_post_econometrie()

Variables centr√©es cr√©√©es :
  - size  ->  size_c
  - taux_criminalite_1000  ->  taux_criminalite_1000_c
  - population  ->  population_c
  - nb_photos  ->  nb_photos_c
Variables transform√©es (quadratique centr√©e) :
  - size  ->  size_2_c
  - taux_criminalite_1000  ->  taux_criminalite_1000_2_c
  - population  ->  population_2_c
  - nb_photos  ->  nb_photos_2_c
‚úÖ Datasource 'housing_project' pr√™te.
üì∏ Asset 'data_post_econometrics' mis √† jour.

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/7 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/15 [00:00<?, ?it/s]

R√®gle 1 (expect_table_columns_to_match_set): OK
R√®gle 2 (expect_compound_columns_to_be_unique): OK
R√®gle 3 (expect_column_values_to_not_be_null): OK
R√®gle 4 (expect_column_values_to_be_unique): OK
Check de la validit√© des donn√©es : OK
Export de la table : OK

**Informations globales sur la base de donn√©es**

In [36]:
data_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29894 entries, 0 to 29893
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_annonce                 29894 non-null  object
 1   code_insee                 29894 non-null  object
 2   property_type              29894 non-null  object
 3   taille_agglomeration       29644 non-null  object
 4   est_attrait_touristique    29894 non-null  int32
 5   nb_rooms_bins              29894 non-null  object
 6   approximate_latitude       29894 non-null  float64
 7   approximate_longitude      29894 non-null  float64
 8   densite_services_rayon     29894 non-null  float64
 9   size_c                     29476 non-null  float64
 10  taux_criminalite_1000_c    29642 non-null  float64
 11  population_c               29671 non-null  float64
 12  nb_photos_c                29894 non-null  float64
 13  size_2_c                   29476 non-null  float64
 14  taux_criminalite_1000_2_c  29642 non-null  float64
 15  population_2_c             29671 non-null  float64
 16  nb_photos_2_c              29894 non-null  float64
 17  revenu_median_log          29522 non-null  float64
 18  target                     29894 non-null  int64
dtypes: float64(12), int32(1), int64(1), object(5)
memory usage: 4.2+ MB

In [37]:
data_housing.head()

,id_annonce,code_insee,property_type,taille_agglomeration,est_attrait_touristique,nb_rooms_bins,approximate_latitude,approximate_longitude,densite_services_rayon,size_c,taux_criminalite_1000_c,population_c,nb_photos_c,size_2_c,taux_criminalite_1000_2_c,population_2_c,nb_photos_2_c,revenu_median_log,target
0,11541,01263,maison,20k - 50k hab,0,4,46.083952,4.762737,12.0,-976.86338,-30.187249,-40234.389134,0.010303,9.542621e+05,911.269978,1.618806e+09,0.000106,10.164697,0
1,09207,06004,appartement,200k - 2M hab,1,3,43.587061,7.115609,223.0,4967.13662,15.685468,31103.610866,-1.989697,2.467245e+07,246.033905,9.674346e+08,3.958894,10.102748,0
2,15840,76351,appartement,200k - 2M hab,1,3,49.500023,0.137997,189.0,-1029.86338,15.357330,122031.610866,-1.989697,1.060619e+06,235.847591,1.489171e+10,3.958894,9.912447,0
3,28263,08105,divers,50k - 100k hab,0,NA,49.770367,4.713661,112.0,-893.86338,12.656118,2371.610866,-5.989697,7.989917e+05,160.177320,5.624538e+06,35.876469,9.819018,1
4,03543,34147,maison,2k - 5k hab,0,5+,43.470415,3.217742,18.0,-986.86338,-23.466129,-40548.389134,2.010303,9.738993e+05,550.659198,1.644172e+09,4.041318,9.982761,0